# OIDC config for ArgoCD SSO (edit values for Auth0 or Google Cloud Identity)
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cm
data:
  kustomize.buildOptions: --enable-helm
  application.namespaces: "*"
  application.resourceTrackingMethod: annotation
  applicationsetcontroller.enable.new.git.file.globbing: "true"
  url: https://argocd.konnektr.io
  timeout.reconciliation: 24h # Polling frequency (reduced since webhooks handle most updates)
  timeout.reconciliation.jitter: 1h # Add some jitter to avoid thundering herd
  # Webhook configuration
  webhook.github.secret: $webhook.github.secret
  exec.enabled: "true"
  admin.enabled: "false"
  oidc.config: |
    name: Konnektr
    issuer: https://auth.konnektr.io/ 
    clientID: 90TsN4J1Y1KQ1NWgy8PJjKp3mx7lH6Ig  
    clientSecret: $oidc.auth0.clientSecret
    requestedScopes: 
      - openid
      - profile
      - email
      - https://konnektr.io/groups
  resource.customizations.health.konnektr.io_DatabaseQueryResource: |
    hs = {}
    if obj.status ~= nil then
      if obj.status.conditions ~= nil then
        for i, condition in ipairs(obj.status.conditions) do
          if condition.type == "Reconciled" and condition.status == "False" then
            hs.status = "Degraded"
            hs.message = condition.message
            return hs
          end
          if condition.type == "Reconciled" and condition.status == "True" then
            hs.status = "Healthy"
            hs.message = condition.message
          end
        end
      end
      if obj.status.managedResources ~= nil then
        hs.message = (hs.message or "") .. "\nManaging " .. #obj.status.managedResources .. " resources"
      end
    end
    hs.status = hs.status or "Progressing"
    hs.message = hs.message or "Waiting for reconciliation"
    return hs