# OIDC config for ArgoCD SSO (edit values for Auth0 or Google Cloud Identity)
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cm
data:
  kustomize.buildOptions: --enable-helm
  application.namespaces: "*"
  application.resourceTrackingMethod: annotation
  applicationsetcontroller.enable.new.git.file.globbing: "true"
  url: https://argocd.konnektr.io
  # timeout.reconciliation: 24h # Polling frequency (reduced since webhooks handle most updates)
  # timeout.reconciliation.jitter: 1h # Add some jitter to avoid thundering herd
  # Webhook configuration
  webhook.github.secret: $webhook.github.secret
  exec.enabled: "true"
  admin.enabled: "true"
  accounts.admin: apiKey, login
  oidc.config: |
    name: Auth0
    issuer: https://auth.konnektr.io/ 
    clientID: 90TsN4J1Y1KQ1NWgy8PJjKp3mx7lH6Ig  
    clientSecret: $oidc.auth0.clientSecret
    requestedScopes: 
      - openid
      - profile
      - email
      - https://konnektr.io/groups