apiVersion: konnektr.io/v1alpha1
kind: DatabaseQueryResource
metadata:
  name: appproject-dbqr
  finalizers:
    - konnektr.io/databasequeryresource-finalizer
spec:
  # How often to query the database and reconcile
  pollInterval: "5m"
  # Whether to delete resources if their corresponding DB row disappears (default: true)
  prune: true
  database:
    type: postgres
    connectionSecretRef:
      name: ktrlplane-app
      uriKey: uri
  # The SQL query to execute
  query: "SELECT project_id, org_id FROM ktrlplane.projects;"
  # Go template for the Kubernetes resource(s)
  template: |
    apiVersion: argoproj.io/v1alpha1
    kind: AppProject
    metadata:
      name: {{ .Row.project_id | lower }}
      labels:
        konnektr.io/project-id: {{ .Row.project_id | lower }}
        konnektr.io/org-id: {{ .Row.org_id | lower }}
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      sourceRepos:
      - 'oci://ghcr.io/konnektr-io/charts/graph'
      destinations:
      - namespace: {{ .Row.project_id | lower }}
        server: https://kubernetes.default.svc
