apiVersion: konnektr.io/v1alpha1
kind: DatabaseQueryResource
metadata:
  name: auth0-client-dbqr
spec:
  pollInterval: "5m"
  database:
    type: postgres
    connectionSecretRef:
      name: ktrlplane-app
      uriKey: uri
  query: |
    SELECT DISTINCT p.project_id, p.org_id
    FROM ktrlplane.projects p
    INNER JOIN ktrlplane.billing_accounts ba 
      ON ba.scope_type = 'project' AND ba.scope_id = p.project_id
    INNER JOIN ktrlplane.resources r 
      ON r.project_id = p.project_id
    WHERE 
      -- Must have a billing account with Stripe customer (payment details)
      ba.stripe_customer_id IS NOT NULL
      -- Must have an active subscription
      AND ba.stripe_subscription_id IS NOT NULL
      -- Must have at least one non-free resource
      AND r.sku IS NOT NULL 
      AND r.sku != 'free';
  template: |
    apiVersion: kubernetes.auth0.com/v1
    kind: Client
    metadata:
      name: {{ .Row.project_id | lower }}
      namespace: {{ .Row.project_id | lower }}
      labels:
        konnektr.io/project-id: {{ .Row.project_id | lower }}
        {{- if .Row.org_id }}
        konnektr.io/org-id: {{ .Row.org_id | lower }}
        {{- end }}
    spec:
      tenantRef:
        name: konnektr-tenant
        namespace: auth0-operator
      policy:
        - Create
        - Update
        - Delete
      secretRef:
        name: auth0-client-{{ .Row.project_id | lower }}
      conf:
        name: {{ .Row.project_id | lower }}
        app_type: non_interactive
        grant_types:
          - client_credentials
