apiVersion: konnektr.io/v1alpha1
kind: DatabaseQueryResource
metadata:
  name: auth0-client-dbqr
spec:
  pollInterval: "5m"
  database:
    type: postgres
    connectionSecretRef:
      name: ktrlplane-app
      uriKey: uri
  query: "SELECT project_id, org_id FROM ktrlplane.projects;"
  template: |
    apiVersion: kubernetes.auth0.com/v1
    kind: Client
    metadata:
      name: {{ .Row.project_id | lower }}
      namespace: {{ .Row.project_id | lower }}
      labels:
        konnektr.io/project-id: {{ .Row.project_id | lower }}
        {{- if .Row.org_id }}
        konnektr.io/org-id: {{ .Row.org_id | lower }}
        {{- end }}
    spec:
      tenantRef:
        name: konnektr-tenant
        namespace: auth0-operator
      policy:
        - Create
        - Update
        - Delete
      secretRef:
        name: auth0-client-{{ .Row.project_id | lower }}
      conf:
        name: {{ .Row.project_id | lower }}
        app_type: non_interactive
        grant_types:
          - client_credentials
