apiVersion: konnektr.io/v1alpha1
kind: DatabaseQueryResource
metadata:
  name: auth0-graph-clientgrant-dbqr
spec:
  pollInterval: "5m"
  database:
    type: postgres
    connectionSecretRef:
      name: ktrlplane-app
      uriKey: uri
  query: "SELECT project_id, org_id FROM ktrlplane.projects;"
  template: |
    apiVersion: kubernetes.auth0.com/v1
    kind: ClientGrant
    metadata:
      name: {{ .Row.project_id | lower }}-graph-api
      namespace: {{ .Row.project_id | lower }}
      labels:
        konnektr.io/project-id: {{ .Row.project_id | lower }}
        {{- if .Row.org_id }}
        konnektr.io/org-id: {{ .Row.org_id | lower }}
        {{- end }}
    spec:
      tenantRef:
        name: konnektr-tenant
        namespace: auth0-operator
      policy:
        - Create
        - Update
        - Delete
      conf:
        clientRef:
          name: {{ .Row.project_id | lower }}
        audience:
          name: graph-api
        scope: []
