apiVersion: konnektr.io/v1alpha1
kind: DatabaseQueryResource
metadata:
  name: auth0-secret-dbqr
spec:
  # How often to query the database and reconcile
  pollInterval: "5m"
  database:
    type: postgres
    connectionSecretRef:
      name: ktrlplane-app
      uriKey: uri
  # The SQL query to execute
  query: "SELECT project_id, org_id FROM ktrlplane.projects;"
  # Go template for the Kubernetes resource(s)
  template: |
    apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: auth0-secret
      namespace: {{ .Row.project_id | lower }}
      labels:
        konnektr.io/project-id: {{ .Row.project_id | lower }}
        {{- if .Row.org_id }}
        konnektr.io/org-id: {{ .Row.org_id | lower }}
        {{- end }}
    spec:
      refreshInterval: 60m
      secretStoreRef:
        name: gcpsm-secret-store
        kind: ClusterSecretStore
      target:
        name: auth0-secret
        creationPolicy: Owner
      data:
        - secretKey: clientId
          remoteRef:
            key: auth0-client-id
        - secretKey: clientSecret
          remoteRef:
            key: auth0-client-secret
