apiVersion: konnektr.io/v1alpha1
kind: DatabaseQueryResource
metadata:
  name: secret-dbqr
spec:
  # How often to query the database and reconcile
  pollInterval: "5m"
  # Whether to delete resources if their corresponding DB row disappears (default: true)
  prune: true
  database:
    type: postgres
    connectionSecretRef:
      name: ktrlplane-app
      namespace: ktrlplane
      uriKey: uri
  changeDetection:
    enabled: true
    tableName: "ktrlplane.resources" # Table to monitor
    timestampColumn: "updated_at" # Column tracking modifications
    changePollInterval: "10s" # Check for changes every 10 seconds
  # The SQL query to execute
  query: "SELECT resource_id, project_id, sku FROM ktrlplane.resources WHERE type = 'Konnektr.Secret';"
  statusUpdateQueryTemplate: "UPDATE ktrlplane.resources SET status = 'Healthy' WHERE resource_id = '{{ .Resource.metadata.name }}';"
  # Go template for the Kubernetes resource(s)
  template: |
    apiVersion: v1
    kind: Secret
    metadata:
      name: {{ .Row.resource_id | lower }}
      namespace: {{ .Row.project_id | lower }}
      labels:
        konnektr.io/project-id: {{ .Row.project_id | lower }}
