apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: tenants.kubernetes.auth0.com
spec:
  group: kubernetes.auth0.com
  names:
    kind: Tenant
    listKind: TenantList
    plural: tenants
    singular: tenant
  scope: Namespaced
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                auth:
                  type: object
                  properties:
                    domain:
                      type: string
                    secretRef:
                      type: object
                      properties:
                        name:
                          type: string
                conf:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
                name:
                  type: string
