apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: auth0-operator-credentials
spec:
  secretStoreRef:
    name: gcpsm-secret-store
    kind: ClusterSecretStore
  target:
    name: auth0-operator-credentials
    creationPolicy: Owner
  data:
    - secretKey: clientId
      remoteRef:
        key: auth0-client-id
    - secretKey: clientSecret
      remoteRef:
        key: auth0-client-secret
