apiVersion: konnektr.io/v1alpha1
kind: DatabaseQueryResource
metadata:
  name: graph-dbqr
spec:
  # How often to query the database and reconcile
  pollInterval: "5m"
  # Whether to delete resources if their corresponding DB row disappears (default: true)
  prune: true
  database:
    type: postgres
    connectionSecretRef:
      name: ktrlplane-app
      namespace: ktrlplane
      uriKey: uri
  changeDetection:
    enabled: true
    tableName: "ktrlplane.resources"  # Table to monitor
    timestampColumn: "updated_at"         # Column tracking modifications
    changePollInterval: "10s"             # Check for changes every 10 seconds
  # The SQL query to execute
  query: "SELECT resource_id, project_id, sku FROM ktrlplane.resources WHERE type = 'Konnektr.Graph';"
  statusUpdateQueryTemplate: "UPDATE ktrlplane.resources SET status = '{{ .Resource.status.health.status | default \"Unknown\" }}' WHERE resource_id = '{{ .Resource.metadata.name }}';"
  # Go template for the Kubernetes resource(s)
  template: |
    apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: {{ .Row.resource_id | lower }}
      namespace: argocd
      labels:
        konnektr.io/project-id: {{ .Row.project_id | lower }}
    spec:
      project: graph
      source:
        repoURL: oci://ghcr.io/konnektr-io/charts/graph
        path: .
        targetRevision: 0.4.29
        helm:
          valuesObject:
            fullnameOverride: {{ .Row.resource_id | lower }}
            cluster:
              enabled: true
              fullnameOverride: {{ .Row.resource_id | lower }}
              cluster:
                instances: {{ eq .Row.sku "free" | ternary 1 2 }}
                logLevel: warning
                resources:
                  requests:
                    memory: "500Mi"
                    cpu: "50m"
                  limits:
                    memory: "2Gi"
                    cpu: "1"
                enablePDB: false
                affinity:
                  nodeSelector:
                    cloud.google.com/gke-spot: "true"

            api:
              enabled: true
              httproute:
                enabled: true
                gatewayName: external
                gatewayNamespace: platform
                hosts: 
                 - {{ .Row.resource_id | lower }}.api.graph.konnektr.io
              # Spot node configuration for API
              nodeSelector:
                cloud.google.com/gke-spot: "true"
              terminationGracePeriodSeconds: 15
              resources:
                limits:
                  cpu: "1"
                  memory: 1Gi
                requests:
                  cpu: 50m
                  memory: 250Mi
              logLevel: Warning
              config:
                authentication:
                  enabled: true
                authorization:
                  enabled: true
                  apiProvider:
                    resourceName: {{ .Row.resource_id | lower }}
                openApi:
                  enabled: true
                parameters:
                  {{- if eq .Row.sku "free" -}}
                  rateLimitingEnabled: true
                  {{- end }}
              extraEnv:
                - name: Authorization__ApiProvider__ClientId
                  valueFrom:
                    secretKeyRef:
                      name: auth0-secret
                      key: clientId
                - name: Authorization__ApiProvider__ClientSecret
                  valueFrom:
                    secretKeyRef:
                      name: auth0-secret
                      key: clientSecret

            events:
              enabled: false
      destination:
        server: https://kubernetes.default.svc
        namespace: {{ .Row.project_id | lower }}
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
