fullnameOverride: demo
cluster:
  enabled: true
  fullnameOverride: demo
  cluster:
    imageName: "ghcr.io/konnektr-io/age-pgvector-postgis-timescale:17-1.6.0"
    instances: 1
    enablePDB: false
    logLevel: warning
    resources:
      requests:
        memory: "500Mi"
        cpu: "50m"
      limits:
        memory: "2Gi"
        cpu: "1"
    affinity:
      nodeSelector:
        cloud.google.com/gke-spot: "true"
api:
  enabled: true
  httproute:
    enabled: true
    gatewayName: external
    gatewayNamespace: platform
    hosts: 
     - demo.api.graph.konnektr.io
  # Spot node configuration for API
  nodeSelector:
    cloud.google.com/gke-spot: "true"
  terminationGracePeriodSeconds: 15
  resources:
    limits:
      cpu: "1"
      memory: 1Gi
    requests:
      cpu: 50m
      memory: 250Mi
  logLevel: Information
  config:
    authentication:
      enabled: false
    authorization:
      enabled: false
    openApi:
      enabled: true
    parameters:
      rateLimitingEnabled: true
mcp:
  enabled: false
events:
  enabled: false
