apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: n8n
spec:
  instances: 2

  enablePDB: false

  affinity:
    nodeSelector:
      cloud.google.com/gke-spot: "true"

  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: "256MB"
      effective_cache_size: "1GB"
      maintenance_work_mem: "64MB"
      checkpoint_completion_target: "0.9"
      wal_buffers: "16MB"
      default_statistics_target: "100"
      random_page_cost: "1.1"
      effective_io_concurrency: "200"
      work_mem: "4MB"
      min_wal_size: "1GB"
      max_wal_size: "4GB"
      max_worker_processes: "8"
      max_parallel_workers_per_gather: "2"
      max_parallel_workers: "8"
      max_parallel_maintenance_workers: "2"

  resources:
    requests:
      memory: "1Gi"
      cpu: "100m"
    limits:
      memory: "2Gi"
      cpu: "1"

  storage:
    size: 32Gi

  monitoring:
    enablePodMonitor: true
